{% extends 'vendedor/layout.html' %}
{% block body %}


<div class="container">
    <section class="content">
        <div class="box box-info">
            <div class="box-header with-border">
                <center>
                    <h3 class="box-title">Nueva Venta</h3>
                </center>
            </div>
            <form class="form-horizontal" method="POST" action="/vendedor/addVenta">
                <div class="box-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Producto</label>

                        <div class="col-sm-10">
                            <input name="nombre" type="text" class="form-control" placeholder="Producto" autocomplete="off"
                                required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Categoria</label>

                        <div class="col-sm-10">
                            <input name="categoria" type="text" class="form-control" placeholder="Categoria"
                                autocomplete="off" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Cantidad</label>

                        <div class="col-sm-10">
                            <input name="cantidad" type="text" class="form-control" placeholder="cantidad"
                                autocomplete="off" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Cliente</label>

                        <div class="col-sm-10">
                            <input name="cliente" type="text" class="form-control" placeholder="cliente"
                                autocomplete="off" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Estado</label>

                        <div class="col-sm-10">
                            <input name="estado" type="text" class="form-control" placeholder="estado"
                                autocomplete="off" required>
                        </div>
                    </div>

                </div>

                <div class="box-footer">
                    <a href="/vendedor/ventas"><button type="button" class="btn btn-default">Cancel</button></a>
                    <input name="AddVentas" type="submit" class="btn btn-info pull-right" value="Save">
                </div>

            </form>
        </div>
    </section>
</div>





{% endblock %}