{% extends 'layout.html' %}

{% block body %}

<div class="container">
    <section class="content">
        <div class="box box-info">
            <div class="box-header with-border">
                <center>
                    <h3 class="box-title">Eliminar Venta</h3>
                </center>
            </div>

            <form class="form-horizontal" method="POST" action="/vendedor/deleteprod">
                {% for row in data %}
                <div class="box-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Nombre</label>
                        <div class="col-sm-10">
                            <input name="producto" value="{{ row[1] }}" type="text" class="form-control" disabled>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Categoria</label>

                        <div class="col-sm-10">
                            <input name="categoria" value="{{ row[2] }}" type="text" class="form-control" disabled>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Cantidad</label>
                        <div class="col-sm-10">
                            <input name="stock" value="{{ row[3] }}" type="text" class="form-control" disabled>
                        </div>
                    </div>


                </div>

                <div class="box-footer">
                    <a href="/vendedor/productos"><button type="button" class="btn btn-default">Cancel</button></a>
                    <input name="delete" type="submit" class="btn btn-info pull-right" value="Delete">
                </div>
                {% endfor %}
            </form>
        </div>
    </section>
</div>

{% endblock %}